span(id='search_date')
  div(class='calendar_check in')
    button(type='button') <
    div(class='calendar')
  div(class='calendar_check out')
    button(type='button') >
    div(class='calendar')
      