span(class='search_date_calendar hidden')
  div(class='calendar check_in')
    button(type='button' class='before_button') <
    div(class='calendar_view check_in')
  div(class='calendar check_out')
    button(type='button' class='after_button') >
    div(class='calendar_view check_out')
