link(rel='stylesheet', href='/stylesheets/footer.css')
footer
  nav
    section
      h5 소개
      ul
        li 에어비앤비 이용 방법
        li 뉴스룸
        li 에어비앤비 플러스
        li 에어비앤비 Luxe
        li 호텔투나잇
        li 에어비앤비 비즈니스 프로그램
        li 올림픽
        li 채용정보
    section
      h5 커뮤니티
      ul
        li 다양성 및 소속감
        li 접근성
        li 에어비앤비 어소시에이트
        li 구호 인력을 위한 숙소
        li 친구 초대하기
    section
      h5 호스팅하기
      ul
        li 숙소 호스팅
        li 온라인 체험 호스팅하기
        li 체험 호스팅하기
        li 브라이언 체스키 CEO의 메시지
        li 책임감 있는 호스팅
        li Open Homes
        li 자료 센터
        li 커뮤니티 센터
    section
      h5 에어비앤비 지원
      ul
        li 코로나19 관련 업데이트
        li 도움말 센터
        li 예약 취소 옵션
        li 에어비앤비 이웃 민원 지원
        li 신뢰와 안전
  section
    p © 2020 Naver Boostcamp Park In Seo 
      a(href='https://github.com/passwd10') github