div(class="signupModal hidden")
  div(class="signupModal__overlay")
  div(class="signupModal__content")
    h1="회원가입"
    form(action="/signup" method="POST")
      input(type="text" class="formInput signup_userEmail" name="userEmail" placeholder="이메일 주소")
      input(type="text" class="formInput signup_userName" name="userName" placeholder="이름(예: 김부캠)")
      input(type="password" class="formInput signup_userPassword" name="userPassword" minlength="6")
      input(type="password" class="formInput signup_userPasswordVerification" name="userPasswordVerification"   minlength="6")
      input(type="submit" class="formButton signup" value="회원가입 완료")
