link(rel='stylesheet', href='/stylesheets/header.css')
header
  
  img(src='../images/airbnb-logo.svg')
  span(class="toggle_menu")
    img(src='../images/burger-menu.svg' id='burger_menu')
    img(src='../images/profile.svg' id='profile')
    