extends layout

block header
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/main.css')

block content
  section(id='main_banner')
    div(id='top_level_empty_space')
    img(src='../images/airbnb-main.jpg')
    div(id='main_banner_text')
      h1 이제 여행은 가까운 곳에서.
      p 가까운 곳의 숨겨진 아름다움을 발견하는
      p 색다른 휴가를 즐겨보세요.
      h3 가까운 여행지 둘러보기 >
  
  section(id='second_banners')
    ul
      li
        img(src='https://a0.muscache.com/im/pictures/eb9c7c6a-ee33-414a-b1ba-14e8860d59b3.jpg?im_w=720')
        div(class='second_banner_text first')
          h2 온라인 체험
          p 세계 각지의 호스트가 진행하고 모두 함께 즐기는 독특한 액티비티
      li
        img(src='https://a0.muscache.com/im/pictures/15159c9c-9cf1-400e-b809-4e13f286fa38.jpg?im_w=720')
        div(class='second_banner_text second')
          h2 독특한 공간
          p 단순한 숙소 이상의 특별함이 담긴 공간
      li
        img(src='https://a0.muscache.com/im/pictures/fdb46962-10c1-45fc-a228-d0b055411448.jpg?im_w=720')
        div(class='second_banner_text third')
          h2 집 전체
          p 일행만을 위한 편안한 공간에서 친구 및 가족과 오붓한 시간을 보내세요.
