doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/searchResult.css')

  body
    div(id='page_header')
      include components/header.pug
    block content
    include components/footer.pug

    script(src='../javascripts/header.js')
    script(src='../javascripts/modal.js')