extends layout

block content
  h1= "HOME"
  if isLogin 
    div
      span 로그인중입니다
      form(action="/login?_method=DELETE" method="post")
        button 로그아웃
  else
    div
      a(href="/login")
        button(type="button") 로그인
    div
      a(href="/signup")
        button(type="button") 회원가입
