* {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.search_date_calendar {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 160px;
  border: 1px #dddddd solid;
  border-radius: 30px;
  width: 900px;
  height: 400px;
  background-color: white;
}

.month-indicator {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.calendar {
  margin: 0 10px;
  width: 400px;
}

.day-of-week {
  display: flex;
  justify-content: center;
}

.day-of-week > li {
  list-style: none;
  width: 50px;
  height: 40px;
  font-size: 12px;
  text-align: center;
  line-height: 40px;
}

.week {
  display: flex;
  justify-content: center;
}

.week > li {
  list-style: none;
  font-size: 16px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.day {
  cursor: pointer;
}

.day:hover {
  background-color: tomato;
  border-radius: 50%;
  color: white;
}

.prev {
  cursor: auto;
  color: #dddddd;
}

.prev:hover {
  background-color: white;
  color: #dddddd;
}

.before_button {
  position: absolute;
  top: 18px;
  left: 60px;
  background-color: white;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.after_button {
  position: absolute;
  top: 18px;
  right: 60px;
  background-color: white;
  border: none;
  outline: none;
  font-size: 20px;
  cursor: pointer;
}

.hidden {
  display: none;
}