html, body, div, span, p, a,img, ol, ul, li, article, aside, footer, header, menu, nav, section {
  margin: 0;
  padding: 0;
}

#page_header {
  z-index: 10;
  position: fixed;
  background-color: white;
  height: 128px;
  width: 100%;
  padding: 30px 0 0 0;
  display: flex;
  justify-content: center;
}

#top_level_empty_space {
  height: 150px;
}